
#body{
   font-size:9pt;
}

#bottom{
   height:10px;
}

.moduleContainer{
   background: #FFFFFF;
   border:1px #8FABC1 solid;
   border-top:0px;
   overflow-x:auto;
   overflow-y:hidden;
   width:100%;
}
.moduleContainer table{
   border:0px;
}}