<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 应用系统管理已添加列表 -->
	<bean name="/appSystemList"
		class="com.dj.seal.appSystem.web.action.AppSystemAction">
		<property name="appSystemService">
			<ref bean="appSysService" />
		</property>
	</bean> 
		<bean name="appSystemForm"
			class="com.dj.seal.appSystem.web.form.AppSystemForm">
		</bean>	


	<bean name="/addAppSystem"
		class="com.dj.seal.appSystem.web.action.AddAppSystemAction">
		<property name="appSystemService">
			<ref bean="appSysService" />
		</property>
		<property name="appSystemForm">
			<ref bean="appSystemForm"/>
		</property>
	</bean> 
</beans>