*{padding:0px;margin:0px;}
body{
   margin:0px;
   font-size:9pt;
   font-family:ו;
   background: #D6E4EF;
}
#on_status{
   font-weight:bold;
   height:28px;
   padding-top:4px;
   padding-left:4px;
   padding-right:4px;
   cursor:pointer;
   color:#FFFFFF;
   background:url("shortcut_bg.png") repeat-x;
}

#on_status a{
}
#on_status a.general{
   color:#FFFFFF;
   text-decoration: underline;
}

#on_status_ul{display:none;width:auto;font-weight:normal;border-top:0;border-left: #036 1px solid;border-right: #036 1px solid;border-bottom:#036 1px solid;position:absolute;padding:0px;background:#E7F1F8;}
#on_status_ul li {
   margin: 0 0 0 5px;
   padding: 0;
   display: block;
   list-style-type: none;
}

#on_status_1, .on_status_1{padding-left:20px;background:url("/images/user_list/U01.gif") no-repeat;line-height:18px;}
#on_status_2, .on_status_2{padding-left:20px;background:url("/images/user_list/U02.gif") no-repeat;line-height:18px;}
#on_status_3, .on_status_3{padding-left:20px;background:url("/images/user_list/U03.gif") no-repeat;line-height:18px;}

#my_status{
   width:170px;
   color:#8896A0;
   border:1px #FFFFFF solid;
}
#my_status:hover{
   color:#000000;
}
#tabs{
   width:100%;
   padding-right:5px;
}

#search{
   width:180px;
   margin-left:5px;
   border:1px solid #154B76;
   background: url('bg_input_text.png') top left repeat-x;
}
#search:hover{
   border:1px solid #99CC00;
   background: url('bg_input_text_hover.png') top left repeat-x;
}

#search input.SmallInput {font-size: 9pt; border:0px; color:#8896A0;width:145px;background:none;}
#search input.SmallInput:hover {border:0px; color:#000000;}

#nav_menu {
   height:22px;
   margin-top:8px;
   background:url("nav_menu_bg.png") repeat-x top;
   padding-left:7px;
   padding-right:5px;
}
#nav_menu li {
   display: inline;
   list-style-type: none;
}

#nav_menu a:link, #nav_menu a:visited {
   color:#000000;
   text-decoration: none;
   display:block;
   float:left;
   text-align:center;
}
#nav_menu a:hover, #nav_menu a.active {
   color:#FFFFFF;
}
#menu_1{
   width:60px;
   margin-right:6px;
   height:21px;
   line-height:21px;
   background:url("nav_menu_normal.png") no-repeat top left;
}
#menu_2{
   width:35px;
   height:19px;
   line-height:19px;
   margin-top:2px;
   background:url("nav_menu_normal.png") no-repeat top left;
}
#menu_3{
   width:35px;
   height:19px;
   line-height:19px;
   margin-top:2px;
   background:url("nav_menu_normal.png") no-repeat top center;
}
#menu_4{
   width:35px;
   height:19px;
   line-height:19px;
   margin-top:2px;
   background:url("nav_menu_normal.png") no-repeat top right;
}

#menu_1:hover, #menu_1:link.active, #menu_1:visited.active{
   color: #FFFFFF;
   height:22px;
   line-height:22px;
   background:url("nav_menu_active.png") no-repeat top left;
}
#menu_2:hover, #menu_2:link.active, #menu_2:visited.active{
   color: #FFFFFF;
   height:20px;
   line-height:20px;
   background:url("nav_menu_active.png") no-repeat top left;
}
#menu_3:hover, #menu_3:link.active, #menu_3:visited.active{
   color: #FFFFFF;
   height:20px;
   line-height:20px;
   background:url("nav_menu_active.png") no-repeat top center;
}
#menu_4:hover, #menu_4:link.active, #menu_4:visited.active{
   color: #FFFFFF;
   height:20px;
   line-height:20px;
   background:url("nav_menu_active.png") no-repeat top right;
}

#expand_link{
   float:left;
   margin:7px 3px 0px 6px;
   cursor:pointer;
}
.expand_link{
   position:absolute;
   top:3px;
   right:25px;
}

.sub_tabs{
   width:100%;
   height:25px;
   border-left:1px #154B76 solid;
   border-right:1px #154B76 solid;
   background: #70A4CF;
}
.hide{
   height:0px;
}
.sub_tabs ul {
   float:left;
   height:23px;
   width:160px;
   margin-left:5px;
}

.sub_tabs li {
   display: inline;
   list-style-type: none;
}

.sub_tabs a:link, .sub_tabs a:visited{
   float:left;
	overflow:hidden;
	color:#FFFFFF;
	text-decoration: none;
   padding-left:4px;
   margin-top:5px;
}
.sub_tabs a:link span, .sub_tabs a:visited span{
   float:left;
   cursor:pointer;
	padding: 4px 6px 3px 4px;
}
.sub_tabs a.active, .sub_tabs a:hover,
.sub_tabs a:link.active, .sub_tabs a:hover.active, .sub_tabs a:active.active, .sub_tabs a:visited.active
{
	color:#003366;
	text-decoration: none;
   background: url('sub_nav_hover_l.png') no-repeat top left;
}
.sub_tabs a.active span, .sub_tabs a:hover span,
.sub_tabs a:link.active span, .sub_tabs a:hover span, .sub_tabs a:active.active span, .sub_tabs a:visited.active span
{
   background: url('sub_nav_hover_r.png') no-repeat top right;
}

#body{
   overflow-x:hidden;
   overflow-y:auto;
   clear:left;
   width:100%;
}
#bottom{
   width:100%;
}