<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<!-- javabean注入 -->
<beans>
	<!-- action中的javabean调用依赖注入 -->
	<bean id="SIVo" class="vo.sealImageVo.SealImageVo"></bean>
	<bean id="commenClass" class="util.CommenClass"></bean>
</beans>